adafruit-ampy==1.1.0
bitarray==3.8.1
bitstring==4.4.0
cffi==2.0.0
click==8.4.1
cryptography==48.0.0
esptool==5.3.0
intelhex==2.3.0
markdown-it-py==4.2.0
mdurl==0.1.2
micropython-esp32-stubs==1.28.0.post4
micropython-stdlib-stubs==1.28.0.post5
mpremote==1.28.0
platformdirs==4.10.0
pycparser==3.0
Pygments==2.20.0
pyserial==3.5
python-dotenv==1.2.2
pyudev==0.24.4
PyYAML==6.0.3
reedsolo==1.7.0
rich==15.0.0
rich-click==1.9.8
rshell==0.0.36
tibs==0.5.7
